BasedOnStyle: LLVM    
IndentWidth: 4
---
Language: Cpp    
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
DerivePointerAlignment: false    
PointerAlignment: Left    
ColumnLimit: 100
ContinuationIndentWidth: 8    
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true    
AllowShortEnumsOnASingleLine: true    
AllowShortFunctionsOnASingleLine: false    
AllowShortIfStatementsOnASingleLine: AllIfsAndElse    
AllowShortLoopsOnASingleLine: true    
IndentRequires: true    
SpaceAfterTemplateKeyword: false    
BreakBeforeBraces: Allman
UseTab: Never
AlignOperands: true
AlignTrailingComments: true
AccessModifierOffset: -4